*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Intellij
JavaCrons/.idea/

#Play Framework
PlayServer/bin/
PlayServer/db
PlayServer/lib/
PlayServer/logs/
PlayServer/modules
PlayServer/project/project
PlayServer/project/target
PlayServer/target
PlayServertmp/
server.pid
PlayServer/*.iml
PlayServer/*.eml
PlayServer/dist/
.cache
