@main("hydrophilik.org") {

    <style>

    </style>

    <div class="container" id="intro">
        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3 style="text-align: center;">
                    <br>
                    <strong>hydrophilik.org</strong><br> is an
                    <a href="http://www.github.com/sbeslow/hydrophilik" target="_blank">
                        Open Source
                    </a>,<br> data driven conversation about Chicago water.<br><br>
                    <button type="button" class="btn btn-primary">Learn more</button>
                 </h3>

             </div>
            <div class="col-xs-12 col-sm-8 col-md-offset-1 col-md-6">
                <img class="img-responsive" src="@routes.Assets.at("images/greatLakes.png")" alt="hydrophilik.org" id="heroImg"/>
            </div>
        </div>

    </div>

}