

@main("Chicago Rains | Developer APIs") {

    <style>
        .apiLink {
            font-size: 80%;
        }
    </style>

    <div class="container">

        <div class="col-xs-12">
            <h4>Get Hourly Rainfall from NOAA over a given period</h4>
            <h5><a href="NOAA link" target="_blank">(Find source data here)</a></h5>
        </div>
        <hr>
        <div class="col-xs-12">
            <div class="alert alert-info" role="alert">
                <a href="http://www.hydrophilik.org/api/QCdRain/startDate=YYYY-MM-DD&endDate=YYYY-MM-DD&location=XYX" target="_blank">
                    http://www.hydrophilik.org/api/QCdRain/startDate=YYYY-MM-DD&endDate=YYYY-MM-DD&location=XYX
                </a>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <table class="table">
                <tr>
                    <td>startDate</td>
                    <td>The first date of the data record</td>
                </tr>
                <tr>
                    <td>endDate</td>
                    <td>The last date of the record</td>
                </tr>
                <tr>
                    <td>location</td>
                    <td>ORD=O'hare, MDW=Midway, ...</td>
                </tr>
            </table>
        </div>


    </div>
}