@(rainEvents : List[RainEvent], heading: String)

@main("Hydrophilik") {
	
	<h2>@heading</h2>
	
	<table border="1">
	<tr>
		<td><strong>Start Time</strong></td>
		<td><strong>End Time</strong></td>
		<td><strong>Precipitation (inches)</strong></td>
	</tr>
	
	@for(rainEvent <- rainEvents) {
		<tr>
			<td>@rainEvent.getPrecipiationInches()</td>
		</tr>
	}
	</table>

}